# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.cproject
.project
.settings

# OS X
.DS_Store

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.gz
