<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="tf_minimal" default="false"/>

  <node pkg="free_gait_marker" type="free_gait_marker" name="free_gait_marker" output="screen">
    <rosparam command="load" file="$(find free_gait_marker)/config/locomotion_controller.yaml"/>
    <remap from="/tf" to="/tf_minimal" if="$(arg tf_minimal)"/>
  </node>
	
</launch>
