<launch>
  <!-- Action to load, can be set through command line with "file:=example") -->
  <arg name="file" default="" />
  <arg name="robot_name" default="starleth"/>
  <arg name="directory" default="$(find free_gait_actions)/actions/$(arg robot_name)" />
  
  <node pkg="free_gait_python" type="action_loader.py" name="free_gait_action_loader" output="screen">
  	<param name="directory" value="$(arg directory)" />
  	<param name="file" value="$(arg file)" />
  	<rosparam command="load" file="$(find free_gait_python)/config/action_loader.yaml" />
  	
  	<!-- Hack to make it compatible with Locomotion Controller user interface -->
  	<remap from="/free_gait_action_loader/list_actions" to="/FreeGaitRos/get_available_modes"/>
  	<remap from="/free_gait_action_loader/send_action" to="/FreeGaitRos/go_to_mode"/>
    <remap from="/free_gait_action_loader/set_is_externally_controlled" to="/FreeGaitRos/set_is_externally_controlled"/>
  	
  </node>
</launch>