<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Action to load, can be set through command line with "file:=example") -->
  <arg name="file" default="" />
  <arg name="directory" default="" />

  <node pkg="free_gait_python" type="action_loader.py" name="free_gait_action_loader" output="screen">
  	<param name="directory" value="$(arg directory)" />
  	<param name="file" value="$(arg file)" />
  </node>
</launch>
