<launch>
  <!-- Action to load, can be set through command line with "file:=example") -->
  <arg name="file" default="example" />
  <arg name="path" default="$(find free_gait_python)/actions" />
  
  <node pkg="free_gait_python" type="send_action_from_file.py" name="free_gait_action_from_file" output="screen">
  	<param name="file_path" value="$(arg path)/$(arg file).yaml" />
  	<rosparam command="load" file="$(find free_gait_python)/config/send_action_from_file.yaml" />
  </node>
</launch>